<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="nav.css">
    <link rel="stylesheet" href="info.css">
    <script defer src="info.js"></script>
</head>
<body>
    <header>
        <div class="navbar">
            <nav>
                <ul class="menu">
                    <li class="logo">
                        <!-- change the name of logo according to your name of image (mani/vengu) -->
                        <!-- <a href="#"><img src="p2.png" alt="Placeme Logo" style="height: 30px;"></a> -->
                        <img src="logo.svg" alt="Placenow Logo" style="height: 20px;">
                    </li>
                    <div class="item">
                        
                    
                        <li ><a href="{% url 'job_seeker:home' %}"><i class="fa-solid fa-house"></i>Home</a></li>
                    </div>
                    <div class="item">
                        
                    
                        <li><a href="{% url 'job_seeker:job' %}"><i class="fa-solid fa-briefcase"></i>Jobs</a></li>
                    </div>
                    <div class="item">
                        <li><a href="{% url 'job_seeker:profile' %}"><i class="fa-solid fa-bell"></i>Notifications</a></li>
                    </div>
                    
                    <li class="item button"><a href="{% url 'job_seeker:profile' %}"><i class="fa-solid fa-user"></i> 
                      Profile</a></li>
                    <li class="toggle" id="menu-toggle"><span class="bars"></span></li>
                    <!-- <li class="item button"><a href="{% url 'auth:login' %}">Log In</a></li> -->
                    <li class="item">
                        <select name="Usertypes" onchange="location = this.value;">
                            <option value="{% url 'job_seeker:home' %}">Job Seeker</option>
                            <option value="{% url 'recruiters:home' %}">Recruiter</option>
                            <option value="{% url 'administrator:dashboard' %}">Administrator</option>
                            <option value="{% url 'refer_and_earn:home' %}">Refer and earn</option>
                        </select> 
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="main">
        <div class="all-info">
            <div class="account-div">
                <p class="account">Create an employer account</p>
            </div>
            <div class="info-list">
                <div class="company-div">
                    <p >Company name <span>*</span></p>
                    <input type="text" class="company-input" placeholder="Enter Company name" required/>
                </div>
                <div class="address-div">
                    <p >Company Address<span>*</span></p>
                    <input type="text" class="company-input" placeholder="Enter Address" required/>
                </div>


                <div class="admin-div">
                    <div class="admin-name">
                        <p >Admin Name <span>*</span></p>
                        <input type="text" class="admin-input" placeholder="Enter Admin name" required/> 
                    </div>
                    <div class="admin-role">
                        <p>Admin Role <span>*</span></p>
                        <input type="text" class="admin-input" placeholder="Enter Admin role" required/>
                    </div>

                </div>

                <div class="email-div">
                    <div class="email-name">
                        <p >Official e-mail <span>*</span></p>
                        <input type="email" class="admin-input" placeholder="example@mail.com" required/> 
                    </div>
                    <div class="website">
                        <p>Website URL<span>*</span></p>
                        <input type="text" class="admin-input" placeholder="exampledomain.com" required/>
                    </div>
                </div>


                <div class="email-div">
                    <div class="email-name">
                        <p >No.of.employees <span>*</span></p>
                        <input class="admin-input" placeholder="12" type="number" min="1" required/> 
                    </div>
                </div>

<!-- 
                <div class="email-div">
                    <div class="email-name">
                            <p>Business Type<span>*</span></p>
                        <div class="man-div">
                            <input type="radio" class="check" name="check"/>
                            <p> Manufacturing</p>
                        </div> 

                    </div>
                    <div class="website">
                            <input type="radio" class="check" name="check"/>
                            <p> Service</p>

                    </div>

                </div> -->

<!-- 
                    <div class="manufactoring">
                        <div>
                            <input type="radio" class="check" name="check"/>
                        </div>
                        <div class="man-div">
                            <p> Is service based</p>
                        </div>
                    </div>
                    <div class="service">
                        <div>
                            <input type="radio" class="check" name="check"/>
                        </div>
                        <div class="ser-div">
                            <p> Is service based</p>
                        </div>
                    </div> -->


                <div class="email-div">
                    <div class="email-name">
                        <p>Business Type<span>*</span></p>
                        <div class="business-type">
                            <input type="radio" class="check" id="manufacturing" name="check"/>
                            <p><label for="manufacturing">Manufacturing</label> </p>
                        </div>
                        <div class="business-type">
                            <input type="radio" class="check" id="service" name="check"/>
                            <p><label for="service">Service</label></p>
                        </div>
                    </div>
                </div>


                <div class="email-div">
                    <div class="email-name">
                        <p >Industry type <span>*</span></p>
                        <select class="admin-input-sel" place>
							<option>Information Technology</option>
							<option>Banking</option>
                            <option>Corporate finance</option>
							<option>Education</option>
                            <option>Agriculture</option>
                            <option>Mining</option>
							<option>Transportation</option>
                            <option>Construction</option>
						</select> 
                    </div>
                    <div class="website">
                        <p>Company Type <span>*</span></p>
                        <select class="admin-input-sel">
							<option>Start-Up</option>
							<option >Multinational-Corporation</option>
							<option >Small and Medium-sized enterprises</option>
							<option >Private</option>
                            <option>Public</option>
                            <option>Government</option>
                            <option>Non-Profit</option>
						</select>
                    </div>
  
                </div>
                <div class="about">
                    <div class="about-p-div">
                        <p>About Company <span>*</span></p>
                    </div>
                    <div class="textarea-div">
                        <textarea placeholder="Write Description about your Company......" id="book-description-input"></textarea>
                        <p id="char-count">0/500 chart</p>
                    </div>
                        
                    
                </div>
                <div class="btn-div">
                    <button class="btn" >Create Account</button>
                </div>


                



            </div>

        </div>
        
    </main>
</body>
</html>
